html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}

h5 {
  text-align: center;
  color: #264040;
}

h6 {
  text-align: center;
  color: #264040;
  font-size: x-small;
}

h2 {
  font-family: "Century Gothic", Times, serif;
  font-size: 50px;
}


/*setting up the cover photo */

.card {
  float: inherit;
  width: 100%;
  padding: 0rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 0;
  overflow: hidden;
  filter: contrast(100%);
  filter: saturate(70%);
  /* extra*/
  background-repeat: no-repeat;
  background-size: contain;
}
.c{
   width:100%;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}


/* the featured work part*/
.album {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

  /*this is the change accroding to the screen the size of the thumbnails*/
@media only screen and (min-width : 481px) {
  .row.equal-height {
    display: flex;
    flex-wrap: wrap;
  }

  .row.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  .row.equal-height.row:after,
    .row.equal-height.row:before {
    display: flex;
  }

  .row.equal-height > [class*='col-'] > .thumbnail,
    .row.equal-height > [class*='col-'] > .thumbnail > .caption {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }

  .row.equal-height > [class*='col-'] > .thumbnail > .caption > .flex-text {
    flex-grow: 1;
  }

  .row.equal-height > [class*='col-'] > .thumbnail > img {
    width: 100%;
    height: auto;
 /* force image's height */

        /* force image fit inside it's "box" */
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.header_text {
  padding: 0.75rem;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  position: relative;
  font-family: "Times New Roman", Times, serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #708090;
  margin: 1em 0;
  margin-left: 0px;
  margin-right: 0px;
}

.h {
  padding-left: 0px;
  padding-right: 0px;
}

.section_heading {
  font-size: xx-large;
  padding: 3px;
  font-family: "Corbel", Times, serif;
  word-spacing: 3px;
}

.section_pics {
  padding: 4px;
  margin-top: 10px;
}

.thumbnail {
  padding: 5px 5px 15px 5px;
  border: none;
  border-radius: 0;
}

.thumbnail p {
  margin-top: 5px;
  color: #555;
}

/* the footer part*/
.sub_head {
  font-weight: 600;
  font-size: large;
  font-family: "Consolas", Times, serif;
}

.footer {
  padding: 30px 0;
}

.footer_text {
  font-weight: bold;
}
